<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>수출 한눈에 보기</h1>
        <P>화주 <-> 바이어</p>
      </div>

      <div class="jumbotron">
        <h1>내 화물은 얼마나 들까? </h1>
        <P>자세히보기</p>
      </div>

    </div>
  </body>
</html>
